* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.app__content {
    flex-grow: 1;
    padding: 30px 30px 10px 30px;
}

.app__toolbar {
    background-color: #222222;
    height: 70px;   
}

